<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org">
<head>
    <title>Table page</title>
</head>
<body>
<wicket:extend>
    <div class="row">
        <div class="col-md9">
            <h1>Welcome to the table page!</h1>
        </div>
    </div>
    <div class="row">
        <form wicket:id="form">
            <table>
                <thead>
                <tr>
                    <th><a href="#" wicket:id="sortfirstName">First Name</a></th>
                    <th><a href="#" wicket:id="sortlastName">Last Name</a></th>
                    <th><a href="#" wicket:id="sortaddress">Address</a></th>
                    <th><a href="#" wicket:id="sortzip">Zip Code</a></th>
                    <th><a href="#" wicket:id="sortcity">City</a></th>
                    <th><label><input wicket:id="rowAdd" type="button" value="Add row"/></label></th>
                </tr>
                </thead>
                <tbody>
                <tr wicket:id="row">
                    <td><input wicket:id="firstName"/></td>
                    <td><input wicket:id="lastName"/></td>
                    <td><input wicket:id="address"/></td>
                    <td><input wicket:id="zip"/></td>
                    <td><input wicket:id="city"/></td>
                    <td><input wicket:id="remove" type="button" value="Remove"/></td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>
</wicket:extend>
</body>
</html>