<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org">
<head>
    <title></title>
</head>
<body>
<wicket:extend>
    <form wicket:id="form">
        <div wicket:id="feedback"></div>
        <span><wicket:message key="first.name">First name</wicket:message></span>
        <input type="text" wicket:id="firstName">
        <br>
        <span><wicket:message key="last.name">Last name</wicket:message></span>
        <input type="text" wicket:id="lastName">
        <br>
        <input type="submit">
    </form>
</wicket:extend>
</body>
</html>