<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org">
<body>
<wicket:extend>
    <div class="row">
        <h1>Terms and Conditions</h1>
    </div>
    <div class="text-left">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec libero ipsum, ultrices eleifend egestas
            tempus, accumsan laoreet augue. Morbi fermentum et urna nec pharetra. Nunc ac sodales nulla. Proin non
            rutrum lorem. Curabitur elementum mauris vel suscipit hendrerit. Curabitur laoreet odio ac pharetra
            suscipit. Morbi a nulla lectus.
        </p>

        <p>
            Morbi neque tortor, fringilla a dictum vel, facilisis at sapien. Donec euismod hendrerit metus vitae
            egestas. Integer aliquam ultricies justo, sed pulvinar diam ultricies vel. Nunc quis porttitor sapien, eu
            vestibulum elit. Nunc ultricies blandit purus, non rutrum ipsum. Fusce dui orci, ullamcorper sed interdum a,
            sodales eget purus. Curabitur vitae odio ut mi tempor sagittis nec sit amet libero. Sed tincidunt commodo
            est, eget pretium tortor venenatis ac. Fusce elementum dolor dui, id aliquam nibh vestibulum ac. Nullam
            varius posuere magna, vitae volutpat magna consectetur at. Ut a facilisis lectus, id malesuada urna. Sed
            tincidunt dapibus sagittis. Nam volutpat nisl ut augue rutrum aliquet.
        </p>

        <p>
            Sed interdum rhoncus tellus, in luctus libero convallis vel. Aenean posuere lorem eu nisl euismod molestie.
            Fusce molestie blandit turpis in tempus. Sed libero lorem, ultrices vel est sed, ornare commodo risus.
            Phasellus sed dapibus lacus, vitae pretium velit. Morbi luctus faucibus ligula, ac hendrerit libero sodales
            non. Donec a scelerisque lectus. Proin justo arcu, scelerisque id diam quis, pretium facilisis erat.
            Suspendisse potenti. Etiam at purus magna. Pellentesque euismod non justo at porta. Nunc pulvinar erat sed
            turpis mollis ultrices. Pellentesque tellus tortor, vestibulum vel dolor eget, vulputate auctor tortor.
            Praesent adipiscing magna eget felis tristique tempor. Fusce sit amet lacus est. Nunc porta placerat
            bibendum.
        </p>

        <p>
            Pellentesque sed enim et ligula blandit commodo at a turpis. In hac habitasse platea dictumst. Quisque sem
            nibh, mattis ac lacus in, ullamcorper vestibulum lorem. Nam ullamcorper luctus nisl eget faucibus. Maecenas
            at fringilla neque. Maecenas in tristique lorem. Vestibulum ante ipsum primis in faucibus orci luctus et
            ultrices posuere cubilia Curae; Nam velit tellus, condimentum vel sollicitudin sit amet, auctor accumsan
            sem. Curabitur bibendum est nec lorem imperdiet, semper rhoncus augue pharetra.
        </p>

        <p>
            Cras lobortis ipsum nec elit gravida aliquam. Fusce dapibus lacus velit, quis varius nulla lacinia vel.
            Etiam imperdiet arcu in suscipit vulputate. Nulla consectetur fringilla eleifend. Nunc faucibus nibh a
            ligula commodo, sed adipiscing leo tincidunt. Maecenas libero neque, commodo ac interdum at, congue
            venenatis lectus. In laoreet odio id aliquam auctor. Sed porta viverra leo, ut mollis justo aliquam eget.
            Donec eget tellus sapien. Fusce rhoncus lacus purus, ut consequat erat elementum vitae.
        </p>
    </div>
    <div class="row">
        <input type="checkbox" wicket:id="haveRead"> I have read the terms and conditions
        <a href="#" class="btn btn-success" wicket:id="continueLink">Continue</a>
    </div>
</wicket:extend>
</body>
</html>